table.color-table {
	table-layout: fixed;
	font-size: 7pt;
	text-align: center;
	font-family: monospace;
}

table.color-table td {
	min-width: 110px;
	max-width: 110px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
